.carGrid {
  background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #268703 0)
    0 0/60px 60px;
  position: relative;
  margin: 4.5rem auto;
  height: 51.5rem;
}

.box {
  position: absolute;
  width: 25px;
  height: 25px;
}

.sign {
  width: 30px; /* Set a specific width */
  height: 30px; /* Set the height equal to width */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #c6e1ff00;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.sign span {
  font-size: 1rem;
  padding: 1px;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34),
      0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92),
      0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42),
      0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84),
      0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
  }
}
